POSTGRES_DB=document_matcher
POSTGRES_USER=document_matcher
POSTGRES_PASSWORD=document_matcher
POSTGRES_PORT=5432

DATABASE_URL=jdbc:postgresql://localhost:5432/document_matcher
DATABASE_USERNAME=document_matcher
DATABASE_PASSWORD=document_matcher

STORAGE_LOCAL_PATH=./data/documents
